{%- comment -%}
  Usage:
    {% render 'free-ship-bar' %}
{%- endcomment -%}

{%- liquid 
  assign til_free = settings.free_ship_threshold | minus: cart.total_price

  assign width = til_free | times: 100
  assign width = width | divided_by: settings.free_ship_threshold
  assign width = 100 | minus: width
-%}

{% capture span_replace %}
  <span class="text-primary" data-remaining>
    {{ til_free | money }}
  </span>
{% endcapture %}

<div class="free-ship-bar mb-4 pb-6 border-b border-b-gray" data-free-ship="{{ settings.free_ship_threshold }}">
  <div style="display:block" data-freeship-content>
    <p class="mt-5 mb-3 text-center font-primary text-p-mob px-4">
      {{ 'general.cart.free-ship-label' | t | replace: 'REMAINING', span_replace }}
    </p>

    <div class="h-2 w-full bg-gray rounded-xl relative overflow-hidden">
      <div style="width: {{ width }}%; transition: width 0.3s;" class="h-full bg-primary absolute top-0 left-0 rounded-xl" data-progress></div>
    </div>
  </div>

  <div style="display:none" data-freeship-achieved>
    <p class="mt-5 text-center font-primary text-p-mob px-4">{{ 'general.cart.free-ship-achieved' | t }}</p>
  </div>
</div>
