<div class="relative">
  <input 
    role="button"
    id="cart-drawer-toggle"
    type="checkbox"
    class="peer hidden"
    data-scroll-lock
    onload="this.checked=false"
  />

  <label
    aria-label="{{ 'general.cart.drawer_toggle_aria' | t | default: 'cart drawer toggle' }}"
    for="cart-drawer-toggle"
    class="relative block cursor-pointer"
  >
    {{ 'general.cart.title' | t | default: 'Cart' }}
  </label>

  <label for="cart-drawer-toggle" class="overlay bg-[rgba(0,0,0,0.3)] fixed inset-0 z-10 w-screen h-screen pointer-events-none peer-checked:pointer-events-auto opacity-0 peer-checked:opacity-100 transition-all"></label>

  <div
    data-ajax-cart
    class="fixed top-0 bottom-0 z-20 w-[400px] max-w-full grid grid-rows-[auto_1fr_auto] bg-[white] text-[black] right-[-100%] peer-checked:right-0 transition-all"
  >
    <div>
      <div class="w-full flex justify-between items-center px-8 py-4">
        <label
          for="cart-drawer-toggle"
          aria-label="{{ 'general.cart.drawer_close_aria' | t | default: 'cart drawer close' }}"
          class="cursor-pointer text-[24px]"
        >
          &times;
        </label>
        <h2>{{ 'general.cart.title' | t | default: 'Cart' }}</h2>
        <div></div>
      </div>

      {% render 'free-ship-bar' %}
    </div>

    <div class="overflow-scoll scrollbar-none pb-4">
      {% render 'ajaxcart-update-target' %}
    </div>

    <div data-cart-with-items-content class="{% if cart.items.size == 0 %}hidden{% endif %}">
      <div class="flex justify-between mb-3">
        <h4>{{ 'general.cart.subtotal' | t | default: 'Subtotal' }}</h4>
        <span>{{ cart.total_price | money }}</span>
      </div>

      <form method="POST" action="/checkout" class="w-full">
        <button type="submit" class="border">
          {{ 'general.cart.checkout' | t | default: 'Checkout' }}
        </button>
      </form>
    </div>
  </div>
</div>
