{%- assign s = section.settings -%}

<div 
  id="basic-slider-{{ s.id_number }}"
  class="py-8"
>
  {% if s.title != blank %}
    <div class="container mx-auto px-4 mb-8">
      <h2 class="leading-[100%] text-h4 lg:text-h2 text-center">{% render 'blue', text: s.title %}</h2>
    </div>
  {% endif %}

  {% capture slider_options %}
    {
      "arrows": false,
      "pagination": false,
      "fixedWidth": "214px",
      "padding": {
        "left": "1rem",
        "right": "25%"
      },
      "gap": "1.4rem",
      "mediaQuery": "min",
      "breakpoints": {
        "768": {
          "padding": "18px",
          "drag": false,
          "swipe": false,
          "fixedWidth": false,
          "perPage": {{ section.blocks.size }}
        }
      }
    }
  {% endcapture %}

  <div class="splide max-w-screen lg:px-[2.375rem]" data-slider='{{ slider_options }}'>
    <div class="splide__track">
      <ul class="splide__list">
        {% for block in section.blocks %}
          {% assign b = block.settings %}

          <li class="splide__slide lg:max-w-[176px]" {{ block.shopify_attributes }}>
            {% render 'responsive-image', 
              image: b.image, 
              class: "rounded-image", 
              pb_hack: "129.55%" 
            %}

            <div class="flex flex-col gap-1">
              {% if b.title != blank %}
                <h3 class="text-body/[23px] tracking-[-0.032px] mt-2.5">{{ b.title }}</h3>
              {% endif %}
              {% if b.description != blank %}
                <h4 class="text-body.[23px] font-light tracking-[-0.032px] pr-[9px] lg:pr-0">{{ b.description }}</h4>
              {% endif %}
            </div>

          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:settings_schema.sections.basic_image_slider.name",
  "tag": "section",
  "class": "basic-image-slider",
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "t:settings_schema.general.title",
      "info": "t:settings_schema.general.blue_info",
      "default": "<p>Image Slider</p>"
    },
    {
      "type": "header",
      "content": "Unique Section ID"
    },
    {
      "type": "paragraph",
      "content": "The ID for this section will be 'basic-slider-#' based on the number chosen below. The default is 'basic-slider-1'"
    },
    {
      "type": "range",
      "id": "id_number",
      "label": "ID Number",
      "max": 5,
      "min": 1,
      "step": 1,
      "default": 1,
      "info": "If using this section multiple times on the same page, assign a different number to each one."
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "t:settings_schema.sections.basic_image_slider.image_block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:settings_schema.general.image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:settings_schema.general.title"
        },
        {
          "type": "text",
          "id": "description",
          "label": "t:settings_schema.general.description"
        }
      ]
    }
  ],
  "max_blocks": 7,
  "presets": [
    {
      "name": "t:settings_schema.sections.basic_image_slider.name"
    }
  ]
}
{% endschema %}