{%- liquid
  assign s = section.settings
  assign container_class = "relative grid grid-cols-1 lg:items-center lg:pb-[60px] lg:grid-flow-col pt-10 lg:pt-20 lg:px-[97px] max-w-maxscreen mx-auto h-[1399px] lg:h-[unset]"
  assign desktop_image_class = "hidden lg:block w-full h-full"
  assign mobile_image_class = "lg:hidden w-full"
  assign content_class = "flex flex-col justify-between items-start h-full"
  assign heading_class = "block lg:text-h3/[60px] font-light lg:tracking-[-0.11px]"
  unless settings.remove_capitalize
    assign heading_class = heading_class | append: " capitalize"
    endunless
  assign desktop_image_fit = "scale-down"
  assign desktop_image_absolute = false
  assign gradient = ""

  if s.image_layout == "side_by_side"
    assign container_class = container_class | append: " lg:grid-cols-2"

    if s.image_position == 'left'
      assign desktop_image_fit = "cover"
      assign content_class = content_class | append: " col-start-2"
      assign desktop_image_class = desktop_image_class | append: " col-start-1"
      assign container_class = container_class | append: " lg:pt-10 lg:pb-[70px]"
    else 
      assign content_class = content_class | append: " col-start-1 lg:max-w-[82%]"
      assign desktop_image_class = desktop_image_class | append: " col-start-2"
      assign container_class = container_class | append: " lg:pt-[60px] lg:pb-20"
    endif
  else
    assign desktop_image_absolute = true
    assign desktop_image_class = desktop_image_class | append: " inset-0 w-full h-full z-10 lg:rounded-t-header-menu"
    assign desktop_image_fit = "cover"
    assign content_class = content_class | append: " inset-0 z-20 lg:pb-20"
    assign mobile_image_class = mobile_image_class | append: " lg:translate-y-8"
  endif

  if s.mobile_image_aspect == 'square'
    assign mobile_pb_hack = "100%"
  else
    assign mobile_pb_hack = "141%" 
  endif

  if s.mobile_heading_position == 'high'
    assign heading_class = heading_class | append: " text-h3-mob/10 lg:w-[75%] tracking-[-0.07px]"
  else
    assign mobile_pb_hack = false
    assign mobile_image_class = mobile_image_class | append: " z-[-1] h-full"
    assign absolute = true
    assign heading_class = heading_class | append: " leading-[100%] text-h2-mob lg:text-h3 tracking-[-0.11px] pt-8" 
  endif

  assign heading_class = heading_class | append: " " | append: s.mobile_text_align | append: " " | append: s.desktop_text_align
  
  if s.desktop_text_align == 'lg:text-center'
    assign heading_align = "lg:mx-auto"
  endif

  if s.desktop_text_align == 'lg:text-right'
    assign heading_align = "lg:ml-auto"
  endif

  if s.text_color != blank
    assign heading_class = heading_class | append: " " | append: s.text_color
  endif

  if s.gradient == 'gray-to-white'
    assign gradient = "light-grey-gradient-2"
  elsif s.gradient == 'grey-light-grey'
   assign gradient = "grey-light-grey-gradient"
  endif
-%}

<div 
  id="boosters-{{ s.id_number }}"
  class="relative overflow-hidden rounded-t-header-menu mt-[30px] lg:mt-[60px] {{ gradient }}"
>
  <div class="{{ container_class }}">
    <div class="{{ content_class }}">
      <div class="flex flex-col px-[18px] lg:px-0 max-w-[618px] {{ heading_align }}">
        {% if s.heading != blank %}
          <h2 class="{{ heading_class }}">
            {% if s.text_yellow %}
              {%  render 'yellow', text: s.heading %}
            {% else %}
              {% render 'blue', text: s.heading %}
            {% endif %}
          </h2>
        {% endif %}
        {% if s.subheading != blank %}
          <h3 class="block lg:pr-[13%] pb-[22px] pt-1.5 text-section-1-mob/[25px] lg:text-section-1/8 font-light tracking-[-0.036px] lg:tracking-[-0.056px] {% unless settings.remove_capitalize %}capitalize{% endunless %}">{% render 'blue', text: s.subheading %}</h3>
        {% endif %}
        {% if s.body != blank %}
          <div class="text-body/[23px] font-light tracking-[-0.032px] pt-[22px]">{% render 'blue', text: s.body %}</div>
        {% endif %}
      </div>

      {%- if s.mobile_image -%}
        {%- render 'responsive-image', 
          image: s.mobile_image, 
          class: mobile_image_class, 
          pb_hack: mobile_pb_hack,
          absolute: absolute,
          cover: true
        -%}
      {%- endif -%}

      <div class="flex flex-col lg:py-10 pb-10 gap-[22px] px-[18px] lg:px-0 {% if s.mobile_heading_position == 'low' %}max-lg:pt-10{% endif %}">
        {%- for block in section.blocks -%}
          {%- liquid
            assign b = block.settings
            assign textbox_class = "flex items-start backdrop-blur-[17.5px] rounded-image px-5 py-4"

            unless s.image_layout == "side_by_side"
              assign textbox_class = textbox_class | append: " lg:max-w-[418px]"
            endunless

            if b.content_box_background == "white"
              assign textbox_class = textbox_class | append: " bg-white"
            elsif b.content_box_background == "transparent"
              assign textbox_class = textbox_class | append: " bg-[#ffffff59] backdrop-blur-[17.5px]"
            elsif b.content_box_background == 'light_cream'
              assign textbox_class = textbox_class | append: " bg-toggle backdrop-blur-[17.5px]"
            endif

            if b.icon_select != 'none'
              assign textbox_class = textbox_class | append: " gap-4"
            endif
          -%}
          <div class="{{ textbox_class }}">
            {% if b.icon_select != 'none' %}
              {% render 'icons', icon: b.icon_select, class: "text-blue-cta" %}
            {% endif %}
            <div class="flex flex-col gap-1">
              <h4 class="text-(length:--text-size) lg:text-(length:--text-size-desktop) leading-[100%] tracking-[-0.036px] lg:tracking-[-0.042px]" style="--text-size: {{ b.text_size }}; --text-size-desktop: {{ b.text_size_desktop }}">
                {% render 'blue', text: b.heading %}
              </h4>
              <div class="{% if s.image_layout == 'fullscreen_background' %}text-section-3/7 tracking-[-0.042px]{% else %}text-body/[23px] tracking-[-0.032px]{% endif %} font-light [&_.blue-text]:font-normal">{% render 'blue', text: b.body %}</div>
            </div>
          </div>
        {%- endfor -%}

        {%- if s.cta_button_url and s.cta_button_text -%}
          <div class="pt-4 lg:pt-8 pb-[60px] lg:pb-0">
            {%- assign cta_class = 'button-primary-black px-[30px]' -%}
            {% if settings.remove_capitalize %}
              {% assign cta_class = cta_class | append: ' !normal-case' %}
            {% endif %}

            {%- if s.popup_form_override -%}
              {% render 'popup-input', class: cta_class, text: s.cta_button_text %}
            {%- else -%}
              <a href="{{ s.cta_button_url }}" class="{{ cta_class }}">
                {{ s.cta_button_text }}
              </a>
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    </div>

    {% if s.desktop_image %}
      {% render 'responsive-image', 
        image: s.desktop_image, 
        class: desktop_image_class,
        object_fit: desktop_image_fit,
        absolute: desktop_image_absolute 
      %}
    {% endif %}
  </div>
</div>


{% schema %}
{
  "name": "t:settings_schema.sections.boosters.name",
  "tag": "section",
  "class": "no-max",
  "settings": [
    {
      "type": "select",
      "id": "gradient",
      "label": "t:settings_schema.sections.boosters.gradient.label",
      "options": [
        { "value": "none", "label": "t:settings_schema.general.gradients.none" },
        { "value": "gray-to-white", "label": "t:settings_schema.general.gradients.gray_to_white" },
        { "value": "grey-light-grey", "label": "t:settings_schema.general.gradients.gray_to_light_gray" }
      ],
      "default": "none"
    },
    {
      "type": "radio",
      "id": "image_layout",
      "label": "t:settings_schema.sections.boosters.desktop_image_layout",
      "default": "side_by_side",
      "options": [
        {
          "value": "side_by_side",
          "label": "t:settings_schema.sections.boosters.layout.side_by_side"
        },
        {
          "value": "fullscreen_background",
          "label": "t:settings_schema.sections.boosters.layout.fullscreen_background"
        }
      ]
    },
    {
      "type": "radio",
      "id": "image_position",
      "label": "t:settings_schema.sections.boosters.desktop_image_position",
      "info": "t:settings_schema.sections.boosters.desktop_image_layout_info",
      "default": "right",
      "options": [
        {
          "value": "left",
          "label": "t:settings_schema.general.position.left"
        },
        {
          "value": "right",
          "label": "t:settings_schema.general.position.right"
        }
      ]
    },
    {
      "type": "radio",
      "id": "mobile_heading_position",
      "label": "t:settings_schema.sections.boosters.mobile_heading_position",
      "default": "high",
      "options": [
        {
          "value": "high",
          "label": "t:settings_schema.sections.boosters.position.high"
        },
        {
          "value": "low",
          "label": "t:settings_schema.sections.boosters.position.low"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "t:settings_schema.general.image_desktop"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "t:settings_schema.general.image_mobile"
    },
    {
      "type": "radio",
      "id": "mobile_image_aspect",
      "label": "t:settings_schema.sections.boosters.mobile_image_aspect_ratio",
      "default": "square",
      "options": [
        {
          "value": "square",
          "label": "t:settings_schema.sections.boosters.aspect_ratio.square"
        },
        {
          "value": "portrait",
          "label": "t:settings_schema.sections.boosters.aspect_ratio.portrait"
        }
      ]
    },
    {
      "type": "select",
      "id": "mobile_text_align",
      "label": "t:settings_schema.sections.boosters.mobile_text_align.label",
      "default": "text-left",
      "options": [
        {
          "value": "text-left",
          "label": "t:settings_schema.sections.boosters.mobile_text_align.left"
        },
        {
          "value": "text-center",
          "label": "t:settings_schema.sections.boosters.mobile_text_align.center"
        },
        {
          "value": "text-right",
          "label": "t:settings_schema.sections.boosters.mobile_text_align.right"
        }
      ]
    },
    {
      "type": "select",
      "id": "desktop_text_align",
      "label": "t:settings_schema.sections.boosters.desktop_text_align.label",
      "default": "lg:text-left",
      "options": [
        {
          "value": "lg:text-left",
          "label": "t:settings_schema.sections.boosters.desktop_text_align.left"
        },
        {
          "value": "lg:text-center",
          "label": "t:settings_schema.sections.boosters.desktop_text_align.center"
        },
        {
          "value": "lg:text-right",
          "label": "t:settings_schema.sections.boosters.desktop_text_align.right"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "t:settings_schema.sections.boosters.text_color.label",
      "default": "text-black",
      "options": [
        {
          "value": "text-black",
          "label": "t:settings_schema.sections.boosters.text_color.black"
        },
        {
          "value": "text-white",
          "label": "t:settings_schema.sections.boosters.text_color.white"
        }
      ]
    },
        {
      "type": "checkbox",
      "id": "text_yellow",
      "label": "t:settings_schema.sections.boosters.use_yellow_accent_text",
      "info": "t:settings_schema.sections.boosters.use_yellow_accent_info"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:settings_schema.general.heading",
      "info": "t:settings_schema.general.blue_info"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:settings_schema.general.subheading",
      "info": "t:settings_schema.general.blue_info"
    },
    {
      "type": "richtext",
      "id": "body",
      "label": "t:settings_schema.general.body",
      "info": "t:settings_schema.general.blue_info"
    },
    {
      "type": "url",
      "id": "cta_button_url",
      "label": "t:settings_schema.general.cta_button_url"
    },
    {
      "type": "text",
      "id": "cta_button_text",
      "label": "t:settings_schema.general.cta_button_text"
    },
    {
      "type": "header",
      "content": "Unique Section ID"
    },
    {
      "type": "paragraph",
      "content": "The ID for this section will be 'boosters-#' based on the number chosen below. The default is 'boosters-1'"
    },
    {
      "type": "range",
      "id": "id_number",
      "label": "ID Number",
      "max": 5,
      "min": 1,
      "step": 1,
      "default": 1,
      "info": "If using this section multiple times on the same page, assign a different number to each one."
    },
    {
      "type": "checkbox",
      "id": "popup_form_override",
      "label": "Override CTA links with Popup Form",
      "info": "Requires the Form Popup section to be on the template to work."
    }
  ],
  "blocks": [
    {
      "type": "textbox",
      "name": "t:settings_schema.general.components.textbox",
      "settings": [
        {
          "type": "select",
          "id": "icon_select",
          "label": "t:settings_schema.general.icon",
          "options": [
            {
              "value": "check",
              "label": "t:settings_schema.general.icons.check"
            },
            {
              "value": "face-magic",
              "label": "t:settings_schema.general.icons.face_magic"
            },
            {
              "value": "sparkle",
              "label": "t:settings_schema.general.icons.sparkle"
            },
            {
              "value": "face",
              "label": "t:settings_schema.general.icons.face"
            },
            {
              "value": "clock",
              "label": "t:settings_schema.general.icons.clock"
            },
            {
              "value": "none",
              "label": "t:settings_schema.general.locations.none"
            }
          ],
          "default": "none"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:settings_schema.general.heading",
          "info": "t:settings_schema.general.blue_info"
        },
        {
          "type": "richtext",
          "id": "body",
          "label": "t:settings_schema.general.body",
          "info": "t:settings_schema.general.blue_info"
        },
        {
          "type": "select",
          "id": "content_box_background",
          "label": "t:settings_schema.sections.boosters.content_box_background",
          "default": "white",
          "options": [
            {
              "value": "white",
              "label": "t:settings_schema.sections.boosters.background.white"
            },
            {
              "value": "transparent",
              "label": "t:settings_schema.sections.boosters.background.transparent"
            },
            {
              "value": "light_cream",
              "label": "t:settings_schema.sections.boosters.background.light_cream"
            }
          ]
        },
        {
          "type": "text",
          "id": "text_size",
          "label": "t:settings_schema.sections.boosters.text_size",
          "default": "16px"
        },
        {
          "type": "text",
          "id": "text_size_desktop",
          "label": "t:settings_schema.sections.boosters.text_size_desktop",
          "default": "18px"
        }
      ]
    }
  ],
  "max_blocks": 4,
  "presets": [
    {
      "name": "t:settings_schema.sections.boosters.name"
    }
  ]
}
{% endschema %}
