{%- assign s = section.settings -%}

<div 
  class="hidden group-[&:has(input[data-form-popup]:checked)]/body:flex h-screen w-full fixed top-0 left-0 items-center justify-center z-[999999999] overflow-auto"
  style="
    --text-color: {{ s.text_color }};
    --text-color-body: {{ s.text_color_body }}; 
    --bg-color: {{ s.bg_color }}; 
    --text-size: {{ s.font_size | append: 'px' }};
    --text-size-body: {{ s.font_size_body | append: 'px' }};
  "
>
  <div 
    class="mx-2 lg:mx-0 h-full rounded-[20px] z-10 lg:mt-[10%]"
    data-scroll-container
  >
    <div class="pt-10 pb-10 lg:py-0">
      <div 
        class="mx-auto my-auto h-fit  bg-[var(--bg-color)] flex flex-col items-end rounded-[20px] [&_div]:w-full px-6 w-full lg:w-[650px]"
      >
        <div class="flex justify-between pt-6 pb-3 mb-3 border-b-[1px] border-b-grey-medium border-solid relative">
          <span class="text-[var(--text-color)] text-[length:var(--text-size)] max-w-[90%] lg:max-w-[40%]">
            {{ s.form_heading }}
          </span>
          <div class="absolute top-[10%] left-[95%] !w-fit">
            <input
              type="radio"
              id="popup-form-close"
              name="popup-form"
              class="hidden"
              checked="true"
            >
            <label class="relative flex h-8 w-8 cursor-pointer items-center justify-center" for="popup-form-close">
              <span class="absolute h-[2px] w-5 rotate-45 bg-[var(--text-color)]"></span>
              <span class="absolute h-[2px] w-5 -rotate-45 bg-[var(--text-color)]"></span>
            </label>
          </div>
        </div>

        {%- if s.form_body != blank -%}
          <div class="text-[length:var(--text-size-body)] text-[var(--text-color-body)] pb-3">
            {{ s.form_body }}
          </div>
        {%- endif -%}

        <div class="pl-2">
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
          <script>
            hbspt.forms.create({
              portalId: "9253844",
              formId: "c0f3e227-44f5-4991-ae44-2a003ff85166",
              region: "na1"
            });
          </script>
        </div>
      </div>
    </div>
  </div>
  <input
    type="radio"
    id="popup-form-outer-close"
    name="popup-form"
    class="hidden"
  >
  <label
    for="popup-form-outer-close"
    class="h-full w-full fixed top-0 left-0 right-0 bg-gray-500/50 backdrop-blur-[10px]"
  ></label>
</div>

{% schema %}
  {
    "name": "Form Popup",
    "settings": [
      {
        "type": "text",
        "id": "form_heading",
        "label": "Form Heading",
        "default": "Ready to Connect?"
      },
      {
        "type": "text",
        "id": "form_body",
        "label": "Form Body"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#FFF"
      },
      {
        "type": "number",
        "id": "font_size",
        "label": "Font Size",
        "default": 25
      },
      {
        "type": "number",
        "id": "font_size_body",
        "label": "Font Size Body",
        "default": 14
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "text_color_body",
        "label": "Text Color Body",
        "default": "#000000"
      }
    ],
    "presets": [
      {
        "name": "Form Popup"
      }
    ]
  }
{% endschema %}