{%- assign s = section.settings -%}

<div 
  id="full-page-faq-{{ s.id_number }}"
  class="container lg:pt-36 pt-24 mx-auto px-[18px] lg:px-[38px]">
  {% if s.title or s.description %}
    <div class="mb-[60px] lg:mb-[80px]">
      {% if s.title %}
        <h1 class="leading-[100%] text-h2-mob lg:text-h1-mob font-light tracking-[-0.08px] lg:tracking-[-0.14px] mb-[20px] lg:mb-[30px]">
          {% if s.accent_yellow %}
            {% render 'yellow', text: s.title %}
          {% else %}
            {% render 'blue', text: s.title %}
          {% endif %}
        </h1>
      {% endif %}
      
      {% if s.description %}
        <div class="font-light">
          {% if s.accent_yellow %}
            {% render 'yellow', text: s.description %}
          {% else %}
            {% render 'blue', text: s.description %}
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endif %}

  <ul id="faq-accordion" data-hc-body-click-toggle="faq-accordion" class="flex flex-col gap-6 lg:gap-8">
    {% for block in section.blocks %}
      {% assign b = block.settings %}
      <li class="faq-item border-t-[1px] border-t-grey-medium" {{ block.shopify_attributes }}>
        <button 
          data-hc-control="{{ block.id }}" 
          class="group flex justify-between items-center w-full text-left py-[20px] lg:py-[25px] gap-4"
          aria-expanded="false"
        >
          <span class="text-section-2-mob lg:text-section-2 tracking-[-0.04px] lg:tracking-[-0.05px] pr-4">
            {% if s.accent_yellow %}
              {% render 'yellow', text: b.question %}
            {% else %}
              {% render 'blue', text: b.question %}
            {% endif %}
          </span>
          {% render 'icons', icon: 'chevron-down', class: '[&_svg]:h-[14px] [&_svg]:w-[24px] transition-all duration-300 group-[&.is-active]:rotate-180 flex-shrink-0 mt-1' %}
        </button>

        <div data-hc-content="{{ block.id }}">
          <div class="text-body-mob lg:text-body font-light tracking-[-0.028px] lg:tracking-[-0.032px] prose prose-blue max-w-none [&_a]:text-blue-cta [&_a]:underline pb-[20px] lg:pb-[25px]">
            {%- liquid
              assign t_open = '<span class="text-section-3">'
              assign t_close = '</span>'
            -%}

            {{ b.answer.content
              | replace: "<p", '<p class="my-4"'
              | replace: "<ul", '<ul class="list-disc list-inside"'
              | replace: "<li", '<li class="list-disc list-inside"'
              | replace: "<h1>", t_open
              | replace: "<h2>", t_open
              | replace: "<h3>", t_open
              | replace: "<h4>", t_open
              | replace: "<h5>", t_open
              | replace: "<h6>", t_open
              | replace: "</h1>", t_close
              | replace: "</h2>", t_close
              | replace: "</h3>", t_close
              | replace: "</h4>", t_close
              | replace: "</h5>", t_close
              | replace: "</h6>", t_close
            }}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

{% schema %}
{
  "name": "t:settings_schema.sections.full_page_faq.name",
  "tag": "section",
  "class": "full-page-faq no-max",
  "settings": [
    {
      "type": "checkbox",
      "id": "accent_yellow",
      "label": "t:settings_schema.sections.full_page_faq.use_yellow_accent",
      "default": false
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:settings_schema.sections.full_page_faq.section_title",
      "info": "t:settings_schema.general.blue_yellow_info"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:settings_schema.sections.full_page_faq.section_description",
      "info": "t:settings_schema.general.blue_yellow_info"
    },
    {
      "type": "header",
      "content": "Unique Section ID"
    },
    {
      "type": "paragraph",
      "content": "The ID for this section will be 'full-page-faq-#' based on the number chosen below. The default is 'full-page-faq-1'"
    },
    {
      "type": "range",
      "id": "id_number",
      "label": "ID Number",
      "max": 5,
      "min": 1,
      "step": 1,
      "default": 1,
      "info": "If using this section multiple times on the same page, assign a different number to each one."
    }
  ],
  "blocks": [
      {
      "type": "faq_item",
      "name": "t:settings_schema.sections.full_page_faq.faq_item",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "t:settings_schema.general.faq.question"
        },
        {
          "type": "page",
          "id": "answer",
          "label": "t:settings_schema.general.faq.answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:settings_schema.sections.full_page_faq.name"
    }
  ]
}
{% endschema %}
