{%- assign s = section.settings -%}

<div
  id="numbered-feature-list-{{ s.id_number }}"
  class="flex flex-col items-center gap-10 px-[18px] lg:px-[38px] pt-10 lg:pt-[60px]"
>
  {% if s.heading != blank %}
    <h2 class="text-center text-h1-mob/[50px] lg:text-h2/[70px] {% unless settings.remove_capitalize %}capitalize{% endunless %} tracking-[-0.09px] lg:tracking-[-0.13px] lg:max-w-[810px]">
      {% if s.text_yellow %}
        {% render 'yellow', text: s.heading %}
      {% else %}
        {% render 'blue', text: s.heading %}
      {% endif %}
    </h2>
  {% endif %}

  {% if s.image != blank %}
    <div class="w-full lg:max-w-[810px]">
      {% render 'responsive-image', image: s.image, class: "w-full" %}
    </div>
  {% endif %}

  {% if section.blocks.size > 0 %}
    <ul class="w-full lg:max-w-[810px] grid grid-cols-1 lg:grid-cols-2 gap-8">
      {% for block in section.blocks %}
        {% assign b = block.settings %}
        <li class="flex gap-4 items-start" {{ block.shopify_attributes }}>
          <span class="flex-shrink-0 flex items-center justify-center w-8 h-8 rounded-full bg-black text-white font-medium">{{ b.number }}</span>
          <div class="flex-grow">
            {% if b.title != blank %}<h4 class="font-medium mb-3">{{ b.title }}</h4>{% endif %}
            {% if b.description != blank %}<p class="font-light">{{ b.description }}</p>{% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>

{% schema %}
{
  "name": "t:settings_schema.sections.numbered_feature_list.name",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:settings_schema.general.heading",
      "info": "t:settings_schema.general.blue_yellow_info"
    },
    {
      "type": "checkbox",
      "id": "text_yellow",
      "label": "t:settings_schema.general.use_yellow_accent",
      "info": "t:settings_schema.general.yellow_accent_info"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:settings_schema.sections.numbered_feature_list.diagram_image",
      "info": "t:settings_schema.sections.numbered_feature_list.diagram_image_info"
    },
    {
      "type": "header",
      "content": "Unique Section ID"
    },
    {
      "type": "paragraph",
      "content": "The ID for this section will be 'numbered-feature-list-#' based on the number chosen below. The default is 'numbered-feature-list-1'"
    },
    {
      "type": "range",
      "id": "id_number",
      "label": "ID Number",
      "max": 5,
      "min": 1,
      "step": 1,
      "default": 1,
      "info": "If using this section multiple times on the same page, assign a different number to each one."
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "t:settings_schema.sections.numbered_feature_list.feature",
      "settings": [
        {
          "type": "text",
          "id": "number",
          "label": "t:settings_schema.sections.numbered_feature_list.number",
          "info": "t:settings_schema.sections.numbered_feature_list.number_info"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:settings_schema.general.title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "t:settings_schema.general.description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:settings_schema.sections.numbered_feature_list.name"
    }
  ]
}
{% endschema %}
