{%- assign s = section.settings -%}

<div 
  id="proven-results-{{ s.id_number }}"
  class="pt-[30px] {% if section.blocks.size > 1 %}pb-[102px]{% else %}pb-[42px] lg:pb-[30px]{% endif %}">

  {% capture slider_options %}
    '{
      "perPage": 1,
      "type": "loop",
      "pagination": false,
      "drag": {% if section.blocks.size > 1 %}true{% else %}false{% endif %},
      "swipe": {% if section.blocks.size > 1 %}true{% else %}false{% endif %},
      "focus": "center",
      "gap": "19px",
      "padding": "18px",
      "arrows": {% if section.blocks.size > 1 %}true{% else %}false{% endif %},
      "mediaQuery": "min",
      "breakpoints": {
        "1024": {
          "gap": "39px",
          "padding": "38px"
        }
      }
    }'
  {% endcapture %}

  <div id="{{ s.unique_id }}" class="splide max-w-screen" data-slider={{ slider_options }}>
    <div class="splide__track">
      <ul class="splide__list">
        {% for block in section.blocks %}
          {%- assign b = block.settings -%}
          <li class="splide__slide">
            <div class="relative flex flex-col-reverse lg:grid gap-[22px] lg:grid-rows-1 lg:grid-cols-3 lg:h-[600px]">
              <div class="relative lg:col-span-2 {% if s.image_position == 'right' %}lg:order-2{% else %}lg:order-1{% endif %}">
                {%- liquid
                  assign both_images_desktop = false
                  assign both_images_mobile = false

                  if b.desktop_image_1 and b.desktop_image_2
                    assign both_images_desktop = true
                  endif

                  if b.mobile_image_2 and b.mobile_image_2
                    assign both_images_mobile = true
                  endif
                -%}
                
                  {% if both_images_desktop %}
                    {%# stitch both images together %}
                    <div class="hidden relative lg:flex w-full h-full">
                      {% render 'responsive-image'
                        image: b.desktop_image_1,
                        cover: true
                        class: "rounded-l-image w-1/2"
                      %}
                      {% render 'responsive-image'
                        image: b.desktop_image_2,
                        cover: true
                        class: "rounded-r-image w-1/2"
                      %}
                    </div>
                  {% elsif b.desktop_image_1 != blank %}
                    {%- render 'responsive-image', 
                      image: b.desktop_image_1, 
                      class: "rounded-image hidden lg:block h-full",
                      cover: true 
                    -%}
                  {% elsif b.desktop_image_2 != blank %}
                    {%- render 'responsive-image', 
                      image: b.desktop_image_2, 
                      class: "rounded-image hidden lg:block h-full",
                      cover: true 
                    -%}
                  {% endif %}

                  {% if both_images_mobile %}
                    <div class="flex lg:hidden relative w-full h-[272.55px] aspect-[71.32/100]">
                      {% render 'responsive-image'
                        image: b.mobile_image_1,
                        cover: true
                        class: "rounded-l-image w-1/2"
                      %}
                      {% render 'responsive-image'
                        image: b.mobile_image_2,
                        cover: true
                        class: "rounded-r-image w-1/2"
                      %}
                    </div>
                  {% elsif b.mobile_image_1 != blank %}
                    {%- render 'responsive-image', 
                      image: b.mobile_image_1, 
                      class: "rounded-image lg:hidden", 
                      pb_hack: "71.35%" 
                    -%}
                  {% elsif b.mobile_image_2 != blank %}
                    {%- render 'responsive-image', 
                      image: b.mobile_image_2, 
                      class: "rounded-image lg:hidden", 
                      pb_hack: "71.35%" 
                    -%}
                  {% endif %}

                {% if b.image_1_caption or b.image_2_caption %}
                  <div class="flex justify-between absolute bottom-3 w-full px-6">
                    <span class="text-body/[23px] text-white tracking-[-0.032px]">{{ b.image_1_caption }}</span>
                    <span class="text-body/[23px] text-white tracking-[-0.032px]">{{ b.image_2_caption }}</span>
                  </div>
                {% endif %}
              </div>

            {%- if b.heading != blank -%}
              <div class="flex flex-col gap-5 lg:gap-0 justify-between h-full p-[30px] pt-[25px] lg:px-7 lg:py-[30px] bg-toggle backdrop-blur-[17.5px] rounded-image {% if s.image_position == 'right' %}lg:order-1{% else %}lg:order-2{% endif %}">
                <div class="flex flex-col gap-4 items-start">
                  <span class="text-body-small/normal tracking-[-0.028px] {% unless settings.remove_capitalize %}capitalize{% endunless %} px-3 py-[3px] rounded-[110px] bg-cream-cards">{{ b.pill }}</span>
                  <div class="flex flex-col gap-[22px]">
                    <h3 class="text-h3-mob/10 lg:text-h1-mob/[50px] font-light tracking-[-0.07px] lg:tracking-[-0.09px] {% unless settings.remove_capitalize %}capitalize{% endunless %}">{% render 'blue', text: b.heading %}</h3>
                    <p class="text-body/[23px] font-light tracking-[-0.032px]">{% render 'blue', text: b.subheading %}</p>
                  </div>
                </div>

                <div class="flex flex-col gap-1 py-3 px-[18px] bg-cream-cards backdrop-blur-[32.5px] rounded-[10px]">
                  <h4 class="text-body/[23px] tracking-[-0.032px]">{% render 'blue', text: b.content_box_top %}</h4>
                  <h5 class="text-caption-small/4 font-light tracking-[-0.2px]">
                    {% render 'blue', text: b.content_box_bottom %}
                    <span class="align-super text-[9px]/3">{{ b.disclaimer_reference }}</span>
                  </h5>
                </div>
              </div>
            {%- endif -%}
          </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="splide__arrows absolute bottom-[-65px] left-6 flex gap-[22px]">
      <button class="splide__arrow splide__arrow--prev !left-[-4em] !static" style="background: unset; transform: translateY(0px)">
        {% render 'icons', icon: "arrow-right", class: "text-black [&_svg]:!h-11 [&_svg]:!w-11" %}
      </button>
      <button class="splide__arrow splide__arrow--next !right-[-4em] !static" style="background: unset; transform: translateY(0px)">
        {% render 'icons', icon: "arrow-right", class: "text-black [&_svg]:!h-11 [&_svg]:!w-11" %}
      </button>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:settings_schema.sections.proven_results_slider.name",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "unique_id",
      "label": "t:settings_schema.sections.proven_results_slider.unique_id",
      "info": "t:settings_schema.sections.proven_results_slider.unique_id_info"
    },
    {
      "type": "radio",
      "id": "image_position",
      "label": "t:settings_schema.sections.proven_results_slider.image_position",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:settings_schema.general.locations.left"
        },
        {
          "value": "right",
          "label": "t:settings_schema.general.locations.right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Unique Section ID"
    },
    {
      "type": "paragraph",
      "content": "The ID for this section will be 'proven-results-#' based on the number chosen below. The default is 'proven-results-1'"
    },
    {
      "type": "range",
      "id": "id_number",
      "label": "ID Number",
      "max": 5,
      "min": 1,
      "step": 1,
      "default": 1,
      "info": "If using this section multiple times on the same page, assign a different number to each one."
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "t:settings_schema.sections.proven_results_slider.slide",
      "settings": [
        {
          "type": "header",
          "content": "t:settings_schema.general.media.image_header",
          "info": "t:settings_schema.general.media.image_header_info"
        },
        {
          "type": "image_picker",
          "id": "desktop_image_1",
          "label": "t:settings_schema.general.image_1_desktop"
        },
        {
          "type": "image_picker",
          "id": "desktop_image_2",
          "label": "t:settings_schema.general.image_2_desktop"
        },
        {
          "type": "image_picker",
          "id": "mobile_image_1",
          "label": "t:settings_schema.general.image_1_mobile"
        },
        {
          "type": "image_picker",
          "id": "mobile_image_2",
          "label": "t:settings_schema.general.image_2_mobile"
        },
        {
          "type": "text",
          "id": "image_1_caption",
          "label": "t:settings_schema.general.image_1_caption",
          "info": "t:settings_schema.general.media.image_caption_info"
        },
        {
          "type": "text",
          "id": "image_2_caption",
          "label": "t:settings_schema.general.image_2_caption",
          "info": "t:settings_schema.general.media.image_caption_info"
        },
        {
          "type": "text",
          "id": "pill",
          "label": "t:settings_schema.general.components.pill"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:settings_schema.general.heading",
          "info": "t:settings_schema.general.blue_info"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "t:settings_schema.general.subheading",
          "info": "t:settings_schema.general.blue_info"
        },
        {
          "type": "header",
          "content": "t:settings_schema.general.components.content_box"
        },
        {
          "type": "text",
          "id": "content_box_top",
          "label": "t:settings_schema.general.components.top_text"
        },
        {
          "type": "text",
          "id": "content_box_bottom",
          "label": "t:settings_schema.general.components.bottom_text"
        },
        {
          "type": "text",
          "id": "disclaimer_reference",
          "label": "t:settings_schema.general.disclaimer_reference"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:settings_schema.sections.proven_results_slider.name"
    }
  ]
}
{% endschema %}
