{%- liquid
  assign s = section.settings
-%}

<div 
  id="quote-slider-{{ s.id_number }}"
  class="flex flex-col items-center lg:gap-4 pt-10 pb-18 lg:py-[60px] w-full {% if s.show_gradient %}light-blue-gradient-desktop{% endif %}">
  <div class="flex flex-col items-center gap-[22px] {% if s.heading_max_width %}lg:max-w-[602px]{% endif %} pt-5 lg:pt-0 px-[18px] lg:px-0 pb-7">
    <h2 class="text-h3-mob/10 lg:text-h3/[60px] font-light text-center {% unless settings.remove_capitalize %}capitalize{% endunless %} tracking-[-0.07px] lg:tracking-[-0.11px]">{% render 'blue', text: s.heading %}</h2>
    {% if s.subheading != blank %}
      <div class="text-body-mob/[23px] font-light tracking-[-0.032px] text-center">{% render 'blue', text: s.subheading %}</div>
    {% endif %}
  </div>

  {% capture slider_options %}
    '{
      "perPage": 1,
      "type": "loop",
      "pagination": true,
      "gap": "18px",
      "arrows": false,
      "padding": "18px",
      "mediaQuery": "min",
      "breakpoints": {
        "1024": {
          "perPage": {{ s.per_page_desktop }},
          "gap": "22px",
          "arrows": false,
          "pagination": true
        }
      }
    }'
  {% endcapture %}

  <div class="splide max-w-screen w-maxscreen [&_.splide\_\_pagination]:!-bottom-[5%] [&_.splide\_\_pagination\_\_page]:!opacity-100 [&_.splide\_\_pagination\_\_page:not(.is-active)]:!bg-black" data-slider={{ slider_options }}>
    <div class="splide__track pt-[100px]">
      <ul class="splide__list w-full">
        {% for block in section.blocks %}
          {% assign b = block.settings %}
          <li class="splide__slide relative {% if s.show_background %}bg-white rounded-image pt-12 lg:pt-[90px]{% endif %}">
            <div class="grid grid-cols-[28px_1fr] pb-[25px] border-t-grey-medium border-t-[1px]">
              {% render 'icons', icon: 'quote', class: "pt-16"%}
              <div class="flex flex-col gap-12 h-full pt-16 lg:pt-[60px] lg:min-h-[320px]">
                <h4 class="text-section-2-mob/[25px] lg:text-section-3/7 font-light [&_.blue-text]:font-normal tracking-[-0.036px] lg:tracking-[-0.042px]">{% render 'blue', text: b.quote %}</h4>
                <div class="flex flex-col">
                  <span class="uppercase text-body-small/[18px] font-medium tracking-[-0.2px]">{{ b.author }}</span>
                  <span class="text-body-small/[18px] font-medium tracking-[-0.2px]">{{ b.author_details }}</span>
                </div>
              </div>
            </div>
            {% if b.image != blank and b.video == blank %}
              {% if s.show_background %}
                {% render 'responsive-image', image: b.image, class: "absolute -top-14 lg:-top-5 left-5 border border-white rounded-full w-[130px] h-[130px] lg:w-[145px] lg:h-[145px]", absolute: true, cover: true %}
              {% else %}
                {% render 'responsive-image', image: b.image, class: "absolute -top-[90px] lg:-top-[100px] left-5 border border-white rounded-full w-[130px] h-[130px] lg:w-[145px] lg:h-[145px]", absolute: true, cover: true %}
              {% endif %}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:settings_schema.sections.quote_slider.name",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:settings_schema.general.heading",
      "info": "t:settings_schema.general.blue_info"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:settings_schema.general.subheading",
      "info": "t:settings_schema.general.blue_info"
    },
    {
      "type": "checkbox",
      "id": "heading_max_width",
      "label": "t:settings_schema.sections.quote_slider.heading_max_width",
      "info": "t:settings_schema.sections.quote_slider.heading_max_width_info"
    },
    {
      "type": "radio",
      "id": "per_page_desktop",
      "label": "t:settings_schema.sections.quote_slider.testimonials_per_page_desktop",
      "options": [
        {
          "value": "2",
          "label": "t:settings_schema.sections.quote_slider.testimonials_2"
        },
        {
          "value": "3",
          "label": "t:settings_schema.sections.quote_slider.testimonials_3"
        }
      ],
      "default": "2"
    },
    {
      "type": "checkbox",
      "id": "show_background",
      "label": "t:settings_schema.sections.quote_slider.show_card_backgrounds"
    },
    {
      "type": "checkbox",
      "id": "show_gradient",
      "label": "t:settings_schema.general.display.show_gradient"
    },
    {
      "type": "header",
      "content": "Unique Section ID"
    },
    {
      "type": "paragraph",
      "content": "The ID for this section will be 'quote-slider-#' based on the number chosen below. The default is 'quote-slider-1'"
    },
    {
      "type": "range",
      "id": "id_number",
      "label": "ID Number",
      "max": 5,
      "min": 1,
      "step": 1,
      "default": 1,
      "info": "If using this section multiple times on the same page, assign a different number to each one."
    }
  ],
  "blocks": [
    {
      "type": "quote",
      "name": "t:settings_schema.sections.quote_slider.quote_block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:settings_schema.general.image"
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:settings_schema.general.video"
        },
        {
          "type": "text",
          "id": "quote",
          "label": "t:settings_schema.general.testimonials.quote"
        },
        {
          "type": "text",
          "id": "author",
          "label": "t:settings_schema.general.testimonials.author"
        },
        {
          "type": "text",
          "id": "author_details",
          "label": "t:settings_schema.general.testimonials.author_details"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:settings_schema.sections.quote_slider.name"
    }
  ]
}
{% endschema %}
