{%- liquid
  assign s = section.settings
  assign image_blocks = section.blocks | where: 'type', 'carousel_image'
  assign info_blocks = section.blocks | where: 'type', 'info_block'
-%}

<style>
  [data-carousel] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .circle-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 50px auto;
    --rotation: 0deg; /* Custom property for Z rotation */
    transform: rotate3d(1, 0, 0, 75deg) rotateZ(var(--rotation));
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
  }

  .circle-container .img {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 50%;
    top: 50%;
    margin: -30px;
    transform-origin: center;
    transform-style: preserve-3d;
  }

  /* Counter-rotate using the negative of the custom property */
  .circle-container .img:nth-child(1) {
    transform: rotate(0deg) translateX(120px) rotate(0deg) rotateZ(calc(-1 * var(--rotation)))
      rotate3d(1, 0, 0, -75deg);
  }

  .circle-container .img:nth-child(2) {
    transform: rotate(60deg) translateX(120px) rotate(-60deg) rotateZ(calc(-1 * var(--rotation)))
      rotate3d(1, 0, 0, -75deg);
  }

  .circle-container .img:nth-child(3) {
    transform: rotate(120deg) translateX(120px) rotate(-120deg) rotateZ(calc(-1 * var(--rotation)))
      rotate3d(1, 0, 0, -75deg);
  }

  .circle-container .img:nth-child(4) {
    transform: rotate(180deg) translateX(120px) rotate(-180deg) rotateZ(calc(-1 * var(--rotation)))
      rotate3d(1, 0, 0, -75deg);
  }

  .circle-container .img:nth-child(5) {
    transform: rotate(240deg) translateX(120px) rotate(-240deg) rotateZ(calc(-1 * var(--rotation)))
      rotate3d(1, 0, 0, -75deg);
  }

  .circle-container .img:nth-child(6) {
    transform: rotate(300deg) translateX(120px) rotate(-300deg) rotateZ(calc(-1 * var(--rotation)))
      rotate3d(1, 0, 0, -75deg);
  }
</style>

<div 
  id="round-carousel-{{ s.id_number }}"
  data-carousel-container 
  class='outer-wrapper w-full px-[18px] lg:px-[38px] max-w-screen'
>
  <div class='inner-wrapper flex flex-col gap-6 lg:gap-4 pt-10 lg:pt-20 pb-5 lg:pb-10 px-5 lg:px-36 rounded-[30px] {% if s.use_gradient_overlay %}gradient-overlay{% else %}light-grey-gradient-2{% endif %} max-w-maxscreen mx-auto'>
    {%- if s.heading != blank and s.subheading != blank -%}
      <div class='heading-wrapper flex flex-col justify-center items-center text-center gap-6'>
        {%- if s.heading != blank -%}
          <div
            class='font-primary text-h4 lg:text-h2 leading-[50px] lg:leading-[70px] tracking-[-0.09px] lg:tracking-[-0.13px]'
          >
            {% render 'blue', text: s.heading %}
          </div>
        {%- endif -%}

        {%- if s.subheading != blank -%}
          <p class='text-body font-light leading-[23px] tracking-[-0.032px] [&_.blue-text]:font-normal'>
            {% render 'blue', text: s.subheading %}
          </p>
        {%- endif -%}
      </div>
    {%- endif -%}

    <div class='content-wrapper flex flex-col min-[1200px]:grid grid-cols-2 gap-4 lg:gap-24 justify-center items-center'>
      {%- if image_blocks.size > 0 -%}
        <div class="w-full flex justify-center">
          <div data-carousel class='flex flex-col items-center justify-center gap-8 pt-12 w-3/4 lg:w-full lg:max-w-[75%]'>
            <ul class='w-full aspect-square h-[unset] relative z-[1]'>
              {% for block in image_blocks %}
                {%- assign b = block.settings -%}
                <li data-carousel-image="{{ block.id }}" class='absolute inset-0 w-[200px] h-full pointer-events-none'>
                  {% render 'responsive-image', image: b.image, class: 'w-full h-full object-cover pointer-events-none' %}
                </li>
              {% endfor %}
            </ul>

            <div data-carousel-controls class='flex justify-between gap-10 z-10 mt-12 w-screen lg:w-[363px] px-8 lg:px-0'>
              <span class='hover:cursor-pointer' data-carousel-previous>
                {% render 'icons', icon: 'arrow-left', class: '[&_svg]:size-10' %}
              </span>

              <ul>
                {%- for block in image_blocks -%}
                  {%- assign b = block.settings -%}

                  <li 
                    data-carousel-label="{{ block.id }}" 
                    class="flex flex-col gap-2 justify-center items-center text-center font-primary"
                  >
                    <span class="text-section-1 leading-8 tracking-[-0.056px]">{{ b.label_1 }}</span>
                    <span class="text-section-3 font-light leading-7 tracking-[-0.042px]">{{ b.label_2 }}</span>
                  </li>
                {%- endfor -%}
              </ul>

              <span class='hover:cursor-pointer' data-carousel-next>
                {% render 'icons', icon: 'arrow-right', class: '[&_svg]:size-10' %}
              </span>
            </div>
          </div>
        </div>
      {%- endif -%}

      {%- if info_blocks.size > 0 -%}
        <div class="relative">
          {%- for block in info_blocks -%}
            {%- liquid
              assign b = block.settings 

              if b.heading_mobile
                assign heading_class = ' hidden lg:block'
              endif
            -%}
            <div data-carousel-info-box="{{ forloop.index0 }}" class='{% if forloop.first %}active{% endif %} invisible absolute opacity-0 pointer-events-none [&.active]:visible [&.active]:relative [&.active]:opacity-100 [&.active]:pointer-events-auto body-wrapper h-max lg:bg-white lg:py-[40px] lg:px-[50px] flex flex-col gap-6 rounded-[20px] w-full transition-[opacity]'>
              {%- if b.heading != blank -%}
                <div class='font-primary text-h3-mob font-light leading-10 tracking-[-0.07px]'>
                  {%- if b.heading_mobile != blank -%}
                    <span class="hidden lg:block">
                  {%- endif -%}

                  {% render 'blue', text: b.heading %}

                  {%- if b.heading_mobile != blank -%}
                    </span>
                    <span class="lg:hidden">
                      {% render 'blue', text: b.heading_mobile | escape %}
                    </span>
                  {%- endif -%}
                </div>
              {%- endif -%}

              {%- if b.body != blank -%}
                <div
                  class='font-primary text-section-1-mob font-light leading-[25px] tracking-[-0.036px] [&_span.blue-text]:font-medium'
                >
                  {%- if b.body_mobile != blank -%}
                    <span class="hidden lg:block">
                  {%- endif -%}

                    {% render 'blue', text: b.body | escape %}
                  
                  {%- if b.body_mobile != blank -%}
                    </span>
                    <span class="lg:hidden">
                      {% render 'blue', text: b.body_mobile | escape %}
                    </span>
                  {%- endif -%}
                </div>
              {%- endif -%}
            </div>
          {%- endfor -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% if s.use_gradient_overlay %}
  <style>
    #shopify-section-{{ section.id }} .gradient-overlay {
      position: relative;
      background: linear-gradient(to bottom, #ccd4e0 0%, #ccd4e0 80%, transparent 100%);
    }
  </style>
{% endif %}

{% schema %}
{
  "name": "t:settings_schema.sections.round_carousel.name",
  "tag": "section",
  "class": "round-carousel-section overflow-hidden",
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "label": "t:settings_schema.sections.round_carousel.heading",
      "info": "t:settings_schema.sections.round_carousel.heading_info",
      "default": "<p><|Customize|>\nYour Treatment</p>"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:settings_schema.sections.round_carousel.subheading",
      "info": "t:settings_schema.sections.round_carousel.subheading_info",
      "default": "Patented, disposable, <|Hydropeel Tips|> for different steps and exfoliation levels."
    },
    {
      "type": "checkbox",
      "id": "use_gradient_overlay",
      "label": "Use Grey Gradient Overlay",
      "info": "Adds a grey (#ccd4e0) to transparent gradient overlay",
      "default": false
    },
    {
      "type": "header",
      "content": "Unique Section ID"
    },
    {
      "type": "paragraph",
      "content": "The ID for this section will be 'round-carousel-#' based on the number chosen below. The default is 'round-carousel-1'"
    },
    {
      "type": "range",
      "id": "id_number",
      "label": "ID Number",
      "max": 5,
      "min": 1,
      "step": 1,
      "default": 1,
      "info": "If using this section multiple times on the same page, assign a different number to each one."
    }
  ],
  "blocks": [
    {
      "name": "t:settings_schema.sections.round_carousel.carousel_image",
      "type": "carousel_image",
      "limit": 7,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:settings_schema.sections.round_carousel.image"
        },
        {
          "type": "text",
          "id": "label_1",
          "label": "t:settings_schema.sections.round_carousel.label_1"
        },
        {
          "type": "text",
          "id": "label_2",
          "label": "t:settings_schema.sections.round_carousel.label_2"
        }
      ]
    },
    {
      "name": "t:settings_schema.sections.round_carousel.info_block",
      "type": "info_block",
      "limit": 7,
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "label": "t:settings_schema.sections.round_carousel.heading",
          "info": "t:settings_schema.sections.round_carousel.heading_info",
          "default": "<p><|Orange Tip:|>\nMid-Level Exfoliation</p>"
        },
        {
          "type": "richtext",
          "id": "body",
          "label": "t:settings_schema.sections.round_carousel.body",
          "info": "t:settings_schema.sections.round_carousel.body_info"
        },
        {
          "type": "header",
          "content": "Mobile"
        },
        {
          "type": "richtext",
          "id": "heading_mobile",
          "label": "Heading Mobile",
          "info": "Heading text information, will default to desktop version if left empty."
        },
        {
          "type": "richtext",
          "id": "body_mobile",
          "label": "Body Mobile",
          "info": "Body text information, will default to desktop version if left empty."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:settings_schema.sections.round_carousel.name"
    }
  ]
}
{% endschema %}
